body {
  font-weight: bold;
  color: red;
}

#navmenue {
  color: yellowgreen;
}

#navmenue {
  /* margin-left: 2vw; */
  /* margin-top: 2vw; */
  /* font-style: italic; */
  float: left;
}

ul {
  list-style-type: none;
}
li {
  float: left;
  margin-left: 2vw;
}

li a:hover {
  background-color: violet;
}
a {
  text-decoration: none;
}

#clearfix::after {
  content: "";
  display:table;
  /* clear: both; */
}
